server:
  port: 8082
spring:
  application:
    name: transactions-service
  datasource:
    url: ${SPRING_DATASOURCE_URL_TRANSACTION_SERVICE}
    username: ${SPRING_DATASOURCE_USERNAME_TRANSACTION_SERVICE}
    password: ${SPRING_DATASOURCE_PASSWORD_TRANSACTION_SERVICE}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
  
  kafka:
    admin:
      enabled: true
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        spring.json.add.type.headers: false
        enable.idempotence: true
        acks: all
        max.in.flight.requests.per.connection: 5
        # Retries
        retries: 10
        retry.backoff.ms: 200
        # Timeouts
        request.timeout.ms: 30000
        delivery.timeout.ms: 120000

        # Batching
        linger.ms: 10
        batch.size: 32768   # 32 KB
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: transaction-service-group
      enable-auto-commit: false
  outbox:
    batch-size: 100
    scheduler:
      delay-ms: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  
  health:
    kafka:
      enabled: true
    db:
      enabled: true
  
  info:
    env:
      enabled: true
    app:
      name: transactions-service
      version: 0.0.1-SNAPSHOT

logging:
  level:
    org.springframework.kafka.admin: DEBUG
    org.springframework.boot.actuate.health: DEBUG
